.blog{
    margin-top: 30px;
    text-align: justify ;
}

.blog h2{
    color: rgb(50, 174, 205);
}

.blog .card{
    width: 70%;
    margin: 20px auto;
    background: rgb(182, 220, 229);
    padding: 20px;
}

.blog .card h4{
    color: rgb(197, 41, 72);
}

.blog .card span{
    font-weight: bold;
    color: rgb(8, 74, 132);
}